<h1>Seja bem-vindo</h1>
<strong>Data: </strong><%=data_br(Date.today)%>
<%= render "menu"%>
<p>
Você esta em ambiente de <strong><%= Rails.env%></strong>
</p>
<p>
Eu sou váriavel/sessão <%= @meu_nome%>
</p>
<p>
Meu curso é o cusro de <%= @curso%>
</p>
